@()

<!DOCTYPE html>

<html>
    <head>
        <title>JsMessages Scala Sample</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <script type="text/javascript" src="@routes.Application.allJsMessages()"></script>
        @playscalajs.html.scripts("/assets", projectName = "scalaJsPlayJsMessagesClient")
        <script type="text/javascript">
            NoLangJS().script();
        </script>
    </body>
</html>
